* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    background-color: black;
    
}

#nav-menu {
    width: 100%;
    height: 60px;
    background-color: black;
    /* border: 1px solid yellow; */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    position: fixed;
}

#nav-menu img {
    width: 80px;
    height: 60px;
}

.hamburger {
    display: none;
}

.nav-list ul {
    display: flex;
}

.nav-list ul li a {
    display: block;
    color: white;
    font: 25px;
    padding: 3px 10px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0px 10px;
}

.nav-list ul li a:hover {
    color: black;
    background-color: aliceblue;
}

/* .nav-list ul li a.active{
    color: black;
    background-color: aliceblue;
} */
@media screen and (max-width: 1320px) {
    #nav-menu {
        padding: 0 50px;
    }
}

@media screen and (max-width: 900px) {
    #nav-menu {
        padding: 0 30px;
    }
}


#home {
    width: 100%;
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    padding: 100px 20px;
    /* background-image: linear-gradient(90deg, #ed6ea0 45%, rgba(236, 140, 105, 0.94) 100%); */
    /* background-image: linear-gradient(90deg, #aa58e4 34%, rgba(177, 140, 209, 0.94) 100%); */
    /* background-image: url("../imges/dynamic\ bg.gif"); */
    /* background-size:cover; */
    background-color: black;
}

#image {
    width: 30%;
    animation: fadeinout 5s;
    
}
@keyframes fadeinout
{
  0%{
    opacity:0;
  }
  50%
  {
    opacity:1;
  }
  100%
  {
    opacity:0;
  }
}

#image img {
    width: 80%;
    /* border-radius: 100%; */
    /* border-radius: 70% 30% 30% 70%/ 60% 40% 60% 40%; */
    border-radius:62% 38% 59% 41% / 61% 34% 66% 39%    ;
    border: 4px solid yellow;
    /* background-image: linear-gradient(90deg, #f5d83b 21%, rgba(138, 214, 0, 0.94) 100%);; */
    background-color: rgb(15, 15, 14);
    
    
}

#name {
    
    width: 40%;
}

#name h1 {
    font-size: 150%;
    margin: 20px 0px;
    color: aliceblue;
}
#name p{
    color: aliceblue;
}

#Resume_btn {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px 15px;
    background-color: rgb(7, 168, 7);
    border: none;
    color: aliceblue;
    border-radius: 20px;
    cursor: pointer;
}

.type-name {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 4.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}
#hi{
    width: 50px;
}
#hi-name{
    display: flex;
    justify-content: start;
    align-items: center;
}
#skills{
    /* margin: 50px; */
    background-color: black;
    padding-bottom: 50px;
}
.techSkill{
    text-align: center;
    color: white;
    /* margin-top: 80px; */
    margin-bottom: 50px;
}
.skills-card{
    background-color: white;
}
#skill-card-div{
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    background-color: black;
}
.skills-card-img{
    width: 80%;
    background-color: white;
}
.skills-card-name{
    background-color: white;
}
i{
    background-color: green;
}
#skill-card-div div{
    /* width: 80%;
    height: 100%; */
    padding: 10px 5px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
}
#skill-card-div div p{
    margin-top: 15px ;
}
#tools{
    width: 100%;
    background-color: black;
}


@media screen and (max-width: 1300px) {
    #skill-card-div{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 900px) {
    #skill-card-div{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 700px){
    #skill-card-div{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 700px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background-color: rgb(226, 217, 217);
        margin: 6px 0px;
    }

    .nav-list {
        height: 0;
        position: absolute;
        top: 60px;
        left: 0px;
        right: 0px;
        width: 100vw;
        background-color: rgb(116, 114, 114);
        transition: 0.8s;

    }

    .nav-list.active {
        height: fit-content;


    }

    .nav-list ul {
        display: block;
        width: fit-content;
        text-align: center;
        margin: auto;
        transition: 0.2px;
        opacity: 0;
    }

    .nav-list.active ul {
        opacity: 1;
    }

    .nav-list ul li a {
        margin-bottom: 12px;
    }
    #home{
        display: block;
        margin: auto;
        height: fit-content;
    }
    #image{
        width: 50%;
        margin: auto;
    }
    #name{
        width: 90%;
        margin: auto;
    }
}